<footer>
    <div class="content has-text-centered">
        <p>
            <strong><%= bot.user.username%></strong> by <a href="https://github.com/zechaos031">[BCFB] zechaos#2310</a>, le code source est  <a href="https://github.com/zechaos031/NoNameBot">open source</a>
        </p>
    </div>
</footer>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</body>
</html>