
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="public/css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <title><%= bot.user.username %></title>
    <script>
        jQuery(document).ready(function($) {
            $('.bold').counterUp({
                delay: 10,
                time: 1000,
            });
        });

    </script>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/"> <img src="<%= bot.user.avatarURL() %>" class="img-brand" width="30" heigth="30" />
            <%= bot.user.username %>
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/commands">
                Commandes
            </a>
            <a class="navbar-item" href="https://discordapp.com/api/oauth2/authorize?client_id=539414026791157761&permissions=8&redirect_uri=http%3A%2F%2Flocalhost%3A3030%2Fcallback&scope=bot">
                Ajouter le bot à votre serveur
            </a>
            <a class="navbar-item" href="/stats">
                <div class="one"></div>

                <div class="two">
                    <p class="bold"><%= bot.guilds.cache.size %> serveurs</p>
                </div>

            </a>

            <a class="navbar-item" href="https://discord.gg/xEnw3rx">
                Support
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-warning">
                        Connexion
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>