* {
    padding: 0;
    margin: 0;
}

.navbar{
    background-color: #2F2F2F;
    color: beige;
}

.navbar-item{
    color: beige;
}

.button.is-warning{
    background-color:#262626 ;
    color: beige;
}

html, body {
    height: 100%;
    overflow: auto;
}

body, .card {
    background-color: #333;
    color: beige;
}

strong, .card-header-title , .title ,.subtitle{
    color: white;
}

.hero {
    min-height: 90%;
}

footer {
    background: #222;
    color: white;
    padding-bottom: 13px;
    margin-top: 30px;
}

footer p {
    padding-top: 12px;
}

a {
    color: crimson;
}

footer strong {
    color: white;
}

.title {
    font-size: 300%;
    padding-bottom: 10px;
    margin-top: 100px;
}

.img-brand {
    border-radius: 50%;
    size: 1rem;
    margin: 1rem;
}

.card{
    width: 45%;
    margin: 1rem;
    display: inline-block;
    color: white;
    background: #5b5a5a;
}
.card-shard {
    margin: 10px;
    width: 20%;
    margin: 10px;
    display: inline-block;
    color: white;
    background: #5b5a5a;
}

.cmd-title {
    font-size: 150%;
    margin-left: 10px;
    margin-top: 10px;
}

.card-content {
    padding: 1rem;
}

.counter {
    animation-duration: 1s;
    animation-delay: 0s;
}

.cardShard {
    width: 15%;
}
