<%- include('./helpers/header.ejs') %>
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <%= bot.user.username %>
            </h1>
            <h4 class="subtitle">
                Bot de logs et modération open source
            </h4>
            <a href="/commands" class="button is-dark">Nos commandes</a>
        </div>
        <div class="image" align="center">
            <p>
                <img src="https://imgur.com/Oflez5F.png" alt="help" width="52"/>
            </p>
        </div>

    </div>
</section>
<%- include('./helpers/footers.ejs') %>