<%- include('./helpers/header.ejs') %>
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Tableau de bord - <%= bot.user.username %>
            </h1>
            <h4 class="subtitle">
                test
            </h4>
            <a href="/command" class="button is-dark">Nos commandes</a>
        </div>
    </div>
</section>
<%- include('./helpers/footers.ejs') %>