<%- include('./helpers/header.ejs') %>

<% let i = 0
while(i<1){ %>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title"> Shard
                <a href="#" class="card-header-icon" aria-label="more options">
                </a>
        </header>
        <div class="card-content">
            <div class="content">
                <strong>Utilisateur:</strong> <br />
                <strong>Serveurs:</strong> <br />
                <strong>Uptime:</strong> <br />
                <strong>RAM:</strong> <br />
            </div>
        </div>
    </div>
<% i++
    }%>
<%- include('./helpers/footers.ejs') %>